n8n/techos-enrollment.json
{
  "name": "TechOS — Enrollment (zero-toque)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "techos-enroll",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh-enroll",
      "name": "Webhook enroll",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        260,
        300
      ],
      "webhookId": "techos-enroll"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// ===== CONFIG — edite aqui =====\nconst PAINEL_URL = 'https://painel.divary.shop';   // URL do Painel na VPS\nconst N8N_SECRET = 'COLE_O_MESMO_N8N_SECRET_DO_PAINEL';\n// Mapa: subdominio do cliente -> credenciais da instancia na Uazapi\nconst UAZAPI = {\n  // 'loja1': { url: 'https://SEU-SERVIDOR.uazapi.com', token: 'TOKEN_DA_INSTANCIA' },\n};\n// Corpo do \"setar webhook\" da Uazapi (ajuste conforme a SUA versao):\nfunction corpoWebhookUazapi(webhookUrl) {\n  return { enabled: true, url: webhookUrl, events: ['messages'] };\n}\n// ================================\nconst semBarra = (s) => (s && s.endsWith('/')) ? s.slice(0, -1) : s;\n\nconst body = ($input.first().json.body) || $input.first().json || {};\nconst chave = body.chave;\nconst ip = body.ip || null;\nif (!chave) throw new Error('chave ausente no corpo do webhook');\n\n// 1) Resolve a chave no Painel (dados do tunel + subdominio)\nconst cli = await this.helpers.httpRequest({\n  method: 'POST',\n  url: PAINEL_URL + '/api/enroll/resolve',\n  headers: { 'x-n8n-secret': N8N_SECRET },\n  body: { chave },\n  json: true,\n});\nconst sub = cli.subdominio;\nconst webhookUrl = cli.webhookUrl;\n\n// 2) Credenciais da Uazapi desse cliente (do mapa acima)\nconst u = UAZAPI[sub];\n\n// 3) Seta o webhook na instancia da Uazapi (se houver credenciais)\nif (u && u.url && u.token) {\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: semBarra(u.url) + '/webhook',\n    headers: { token: u.token, 'Content-Type': 'application/json' },\n    body: corpoWebhookUazapi(webhookUrl),\n    json: true,\n  });\n}\n\n// 4) Confirma no Painel (grava o IP local do servidor)\ntry {\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: PAINEL_URL + '/api/enroll/confirm',\n    headers: { 'x-n8n-secret': N8N_SECRET },\n    body: { chave, ip },\n    json: true,\n  });\n} catch (e) { /* nao bloqueia */ }\n\n// 5) Resposta que o instalador aplica (frpc.toml + crm-config.json)\nreturn [{ json: {\n  ok: true,\n  subdominio: sub,\n  webhook_url: webhookUrl,\n  tunel: cli.tunel,\n  uazapi_url: u ? u.url : null,\n  uazapi_token: u ? u.token : null,\n} }];\n"
      },
      "id": "code-enroll",
      "name": "Orquestra enrollment",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "firstIncomingItem",
        "options": {}
      },
      "id": "resp-enroll",
      "name": "Responde ao instalador",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        780,
        300
      ]
    }
  ],
  "connections": {
    "Webhook enroll": {
      "main": [
        [
          {
            "node": "Orquestra enrollment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Orquestra enrollment": {
      "main": [
        [
          {
            "node": "Responde ao instalador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false
}